* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(222, 227, 231);
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Alkatra', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Zilla Slab', serif;
    letter-spacing: 1px;

}

section {
    margin: 40px;
}

#navbar {
    background-color: rgb(65, 65, 65);
    width: 100%;
    border-bottom: 1px solid;
}

#navbar li {
    color: antiquewhite;
    border-top: 1px solid white;
    list-style: none;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    transition: text-indent 0.4s ease-in-out;
}

#navbar a:hover {
    font-weight: 500;
    text-indent: 5px;
}

p {
    margin: 10px;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

ul {
    margin-left: 30px;
}

#main-doc {
    margin: auto;
}

header {
    color: azure;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
}

code {
    display: block;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    background-color: rgb(77, 75, 75);
    padding: 0 10px;
    margin: 10px;
    border-radius: 5px;
}
h3{
    font-size: 25px;
    color: antiquewhite;
}
h4{
    font-size: 20px;
}

footer a {
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;

}

footer {
    padding: 30px;
    text-align: center;

}

@media only screen and (min-width:815px) {

    body {
        flex-direction: row;
    }

    #navbar {
        width: 300px;
        position: fixed;
        height: 100%;
        resize: horizontal;
        overflow-x: scroll;
    }

    #main-doc {
        margin: 0 20px;
        margin-left: 350px;

    }

}